# EDA using pandas and jupyter

In [1]:
#import libraries

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# load dataset

In [4]:
df = pd.read_csv("heart.csv")

In [5]:
# Display Top 5 Rows of The Dataset

In [6]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2,0

In [7]:
# Check The Last 5 Rows of The Dataset

In [8]:
df.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
1020,59,1,1,140,221,0,1,164,1,0.0,2,0,2,1
1021,60,1,0,125,258,0,0,141,1,2.8,1,1,3,0
1022,47,1,0,110,275,0,0,118,1,1.0,1,1,2,0
1023,50,0,0,110,254,0,0,159,0,0.0,2,0,2,1
1024,54,1,0,120,188,0,1,113,0,1.4,1,1,3,0

In [9]:
# Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [10]:
df.shape

(1025, 14)

In [11]:
print("number of rows are :",df.shape[0])
print("number of columns are :", df.shape[1])

number of rows are : 1025
number of columns are : 14

In [12]:
# Get Information About Our Dataset Like Total Number Rows, Total Number of Columns, Datatypes of Each Column And Memory Requirement

In [13]:
# Check Null Values In The Dataset

In [14]:
# Check For Duplicate Data and Drop Them

In [ ]:
# Get Overall Statistics About The Dataset